src/main/mule/implementations/get-covid-case-by-national-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="get:\cases\(nationalID):uhub-sapi-config">
		<set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationID" doc:id="57b8b9ef-c578-490f-abd1-47b7cc365ee2" variableName="correlationid" />
		<logger level="INFO" doc:name="Start Log" doc:id="eabbb311-838d-4682-9866-ea964786d2f0" message='transcationID: #[vars.transcationId]], correlationID: #[vars.correlationID], message: "Started get covid case by national id flow", paylaod: #[payload]' />
		<set-variable value="#[attributes.uriParams.nationalID]" doc:name="Set nationalID" doc:id="4ff14385-1791-4dc7-9afb-a460f351642c" variableName="nationalID"/>
		<flow-ref doc:name="fetch-case-by-national-id-sub-flow" doc:id="4463241c-4a85-4831-9cdd-81a05d54d858" name="fetch-case-by-national-id-sub-flow"/>
		<choice doc:name="Choice" doc:id="8171fbb3-e508-4a4c-95a3-8c1292bf3b26" >
			<when expression="#[sizeOf(payload)&gt;0]">
				<ee:transform doc:name="set Success response" doc:id="081cd164-c1d3-4851-8ba2-fc8e73ad3064" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
	payload map (covidCase, indexOfCovidCase) -> {
	caseID: covidCase.case_id,
    source: covidCase.source,
    caseType: covidCase.case_type,
    firstName: covidCase.first_name,
    lastName: covidCase.last_name,
    phone: covidCase.phone,
    email: covidCase.email,
    dateOfBirth: covidCase.date_of_birth as String {format: "yyyy-MM-dd"},
    nationalID: covidCase.national_id,
    nationalIDType: covidCase.national_id_type,
    address: {
      streetAddress: covidCase.street_address,
      city: covidCase.city,
      state: covidCase.state,
      postal: covidCase.postal,
      country: covidCase.country
    },
    createDate: covidCase.create_date as String {format: "yyyy-MM-dd"},
    updateDate: covidCase.update_date as String {format: "yyyy-MM-dd"}
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="set not found response" doc:id="72cea237-69e0-4fce-a4bd-a78df4b7f1aa" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"code": 404,
	"message": "Resource not found",
	"description": "The server has not found anything matching the Request-URI",
	"dateTime": now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" },
	"transactionId": vars.transactionId
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="End Log" doc:id="cdaf0dc2-98f6-4229-8f3a-c14a3799e24e" message='transcationID: #[vars.transcationId]], correlationID: #[vars.correlationID], message: "completed get covid case by national id flow", paylaod: #[payload]' />
    
</flow>
	</mule>
