src/main/mule/implementations/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="post:\cases:application\json:uhub-sapi-config">
        <set-variable value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]" doc:name="Set correlationID" doc:id="264099cc-c9d7-427f-a951-a9cfe996bfc0" variableName="correlationid"/>
		<logger level="INFO" doc:name="Start Log" doc:id="c92e733e-720c-4242-beef-56429968f23a" message='transcationID: #[vars.transcationId]], correlationID: #[vars.correlationID], message: "Started register covid case flow", paylaod: #[payload]'/>
		<ee:transform doc:name="Prepare covid case payload" doc:id="3869bfdd-5166-4521-a4af-742c126d8e0f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
var currentDate = now() as String { format: "yyyy-MM-dd" }
---
{
	source: payload.source,
	case_type: payload.caseType,
	first_name: payload.firstName,
	last_name: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	date_of_birth: payload.dateOfBirth as String {
		format: "yyyy-MM-dd"
	},
	national_id: payload.nationalID,
	national_id_type: payload.nationalIDType,
	street_address: payload.address.streetAddress,
	city: payload.address.city,
	state: upper(payload.address.state),
	postal: payload.address.postal,
	country: payload.address.country,
	create_date: currentDate,
	update_date: currentDate,
	create_by: "UHIS",
	update_by: "UHIS"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="insert-covid-case-subflow" doc:id="000b8023-ec46-4303-9c60-6c5efd240ecc" name="insert-covid-case-subflow"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  caseID: payload[0].CASE_ID as String
  }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="28b16f59-e09c-4e85-922e-25e8683df9ec" message='transcationID: #[vars.transcationId]], correlationID: #[vars.correlationID], message: "completed register covid case flow", paylaod: #[payload]'/>
    
</flow>
	</mule>
