src/main/mule/implementations/update-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="put:\cases:application\json:uhub-sapi-config">
        <set-variable doc:name="Set correlationID" doc:id="6641e6f9-fd48-4a09-9d94-27e53d2d0b79" variableName="correlationid" value="#[attributes.headers.'x-correlation-id' default &quot;&quot;]"/>
		<logger level="INFO" doc:name="Start Log" doc:id="67f0930a-fb5c-4851-832d-3298b3701eb9" message='transcationID: #[vars.transcationId]], correlationID: #[vars.correlationID], message: "Started update covid case flow", paylaod: #[payload]' />
		<ee:transform doc:name="Prepare covid case Payload" doc:id="4126e696-5342-4c19-904b-37e1d5e2e95c" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="covidCasePayload" ><![CDATA[%dw 2.0
output application/java
---
{
	case_id: payload.caseID,
	source: payload.source,
	case_type: payload.caseType,
	first_name: payload.firstName,
	last_name: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	date_of_birth: payload.dateOfBirth as String {
		format: "yyyy-MM-dd"
	},
	national_id: payload.nationalID,
	national_id_type: payload.nationalIDType,
	street_address: payload.address.streetAddress,
	city: payload.address.city,
	state: upper(payload.address.state),
	postal: payload.address.postal,
	country: payload.address.country,
	update_date: now() as String {
		format: "yyyy-MM-dd"
	},
	create_by: "UHIS",
	update_by: "UHIS"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="update-covid-case-sub-flow" doc:id="afcfc42b-f401-4f5e-9760-1a8293b05808" name="update-covid-case-sub-flow"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (payload.affectedRows > 0 ) {
	caseID: vars.covidCasePayload.case_id
} else {}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="005e6027-0ab3-450b-8195-75f1a84b45ca" message='transcationID: #[vars.transcationId]], correlationID: #[vars.correlationID], message: "Completed updated covid case flow", paylaod: #[payload]'/>
    
</flow>
 
	
</mule>
